<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>demo</title>
	<style type="text/css">
		*{margin: 0;padding: 0;}
		body{
			padding: 20px;
			font-size: 12xp;
			font-family: sans-serif;
		}
		h3{font-size: 18px;}
		hr{
			margin: 5px 0;
			color: #ccc;
			border: none;
			border-bottom: 1px solid #ccc;
		}
		ul,ol{
			margin-left: 20px;
		}
		li{
			margin: 0 0 10px 0;
		}
		div{
			margin: 0 0 30px 0;
		}
		button{
			font-size: 12px;
			background-color: #ccc;
			color: #000;
			border: 1px solid #333;
			padding:5px 10px;
			border-radius: 3px;
		}
	</style>
	<script src="vue.js"></script>
</head>
<body>
	<h3>example-1</h3>
	<hr/>
	<div id="app">{{message}}</div>
	<script type="text/javascript">
		var app = new Vue({
			el:'#app',
			data:{
				message:'Hello Vue!'
			}
		});
	</script>

	<h3>exapmle-2</h3>
	<hr/>
	<div id="app2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
	</div>
	<script>
		var app2 = new Vue({
			el:"#app2",
			data:{
				message:'You loaded this page on ' + new Date()
			}
		})
	</script>

	<h3>example-3</h3>
	<hr/>
	<div id="app-3">
		<p v-if="seen">Now you see me</p>
	</div>
	<script type="text/javascript">
		var app3 = new Vue({
			el:"#app-3",
			data:{
				seen:true
			}
		});
	</script>

	<h3>example-4</h3>
	<hr/>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>
	<script type="text/javascript">
		var app4 = new Vue({
			el:"#app-4",
			data:{
				todos:[
					{text:"Learn JavaScript"},
					{text:"Learn Vue"},
					{text:"Build something awesome"}
				]
			}
		});
	</script>

	<h3>example-5</h3>
	<hr/>
	<div id="app-5">
		<ul>
			<li v-for="(item,index) in items">
				{{item}}
				<button @click="rm(index)">移除</button>
			</li>
		</ul>
		<button @click="addBtn();">添加元素</button>
	</div>
	<script>
		var app5 = new Vue({
			el:"#app-5",
			data:{
				items:["item1","item2","item3","item4","item5"],
				todo:''
			},
			methods:{
				rm:function(i){
					this.items.splice(i,1);
				},
				addBtn:function(){
					var length = this.items.length;
					var itemAdd = "item"+(length+1);
					this.items.push(itemAdd);
				}
			}
		})
	</script>
</body>
</html>