<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>demo7</title>
		<script src="vue.js"></script>
	</head>
	<body>
		<!-- 
		<div id="app">
			<label><input type="checkbox" ref="c2" v-bind:checked="checked" @change="change" />v-bind</label>
			<br/>
			<label for="checkbox">{{checked}}</label>
		</div>
		<script>
		var a= new Vue({
			el: '#app',
			data(){
				return {checked : true}
			},
			methods:{
				change(){
					this.checked = this.$refs.c2.checked
				}
			}
		});
		</script>
		-->
		<h4>简化版的数据绑定</h4>
		<hr/>
		<div id="app">
			<label><input type="checkbox" v-model="checked">v-model</label><br/>
			<label for="checkbox">{{checked}}</label>
		</div>
		<script>
			var a = new Vue({
				el:"#app",
				data(){
					return {checked:true}
				}
			});
		</script>

		<div id="app2">
			<label>测试一段文字绑定：<input type="text" v-model="textValue"></label>
			<span>{{textValue}}</span>
		</div>
		<script>
			var b = new Vue({
				el:"#app2",
				data(){
					return {
						textValue:"123"
					}
				}
			});
		</script>

		<h4>多数据绑定</h4>
		<hr>
		<div id="app3">
			<input type="checkbox" value="1" v-model="checks" />
			<input type="checkbox" value="2" v-model="checks" />
			<input type="checkbox" value="3" v-model="checks" />
			<label for="checkbox">{{checks}}</label>
		</div>
		<script>
			var a = new Vue({
				el:"#app3",
				data(){
					return {
						checks:["1","2"]
					}
				}
			});
		</script>

		<h4>Radio 数据绑定</h4>
		<hr>
		<div id="app4">
			<input type="radio" value="1" v-model="which">
			<input type="radio" value="2" v-model="which">
			<span>{{which}}</span>
		</div>
		<script>
			var app4 = new Vue({
				el:"#app4",
				data(){
					return {
						which:"2"
					}
				}
			});
		</script>

		<h4>TextArea 数据绑定</h4>
		<hr>
		<div id="app5">
			<textarea cols="30" rows="10" v-model="msg" placeholder="input some lines"></textarea>
			<p style="white-space: pre;">
				Message:<br/>
				{{msg}}
			</p>
		</div>
		<script>
			new Vue({
				el:"#app5",
				data:{
					msg:""
				}
			})
		</script>
	</body>
</html>