*{margin:0;padding:0;}
#results{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 20px;
    list-style: none;
    background-color: #ffc;
    border: 1px solid #eda;
    border-radius: 2px;
    color: #863;
    font-size: 14px;
}
#results li{
    margin: 0 0 10px 20px;
    list-style: disc;
    font-size: 14px;
    color: #666;
}
#results li:last-child{
    margin-bottom: 0;
    
}